[submodule "kbengine_demos_assets"]
	path = kbengine_demos_assets
	url = https://github.com/kbengine/kbengine_demos_assets.git
[submodule "Plugins/KBEnginePlugins"]
	path = Plugins/KBEnginePlugins
	url = https://github.com/kbengine/kbengine_ue4_plugins.git
