# ---------------[ UE4 generated ]------------------ #
/Binaries
/DerivedDataCache
/Intermediate
/Saved
/Plugins/KBEnginePlugins/Binaries
/Plugins/KBEnginePlugins/Intermediate

# ----[ Visual Studio ]------- #
/.vs
*.svd
*.pidb
*.suo
*.sln
 *.opendb
 *.sdf

# -------------[ OS generated ]------------------------ #
.DS_Store
.DS_Store?
ehthumbs.db
Thumbs.db
